<table class="table table-hover table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Nome do Curso
            </th>
            <th scope="col">
                Carga Horária
            </th>
            <th scope="col">
                Editar
            </th>
            <th scope="col">
                Deletar
            </th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
            <tr>
                <th scope="row">
                    {{curso.id_curso}}
                </th>
                <td>
                    {{curso.nome}}
                </td>
                <td>
                    {{curso.carga_horária}}
                </td>
                <td>
                    <a href="?page=curso&alter={{curso.id}}" role="button">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="?page=curso&delete={{curso.id}}" role="button"> 
                        Deletar
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>