<section id="bemVindo">
    <h1 class="h1">B e m - v i n d o</h1>
    <p>Essa é uma página feita para os estudos na linguagem <a class="text-link" href="https://php.net/">PHP</a>.</p>
    <p>Foram ulizadas tecnologias como <a class="text-link" href="https://getbootstrap.com/">Bootstrap<sup><img src="app/View/img/Bootstrap-Logo-PNG-715x715.png/" alt="Logo do Bootstrap" width="15px"></sup></a> e <a class="text-link" href="https://jquery.com/">JQuery<sup><img src="app/View/img/jquery.png/" alt="Logo do JQuery" width="15px"></sup> </a> .</p>
    <p>A proposta da página é colocar em prática os príncipios do CRUD.</p>
    <p>Sendo assim possível, inserir, alterar, deletar e consultar <a class="text-link" href="?page=aluno">Alunos</a>, <a class="text-link" href="?page=curso">Cursos</a> e <a class="text-link" href="?page=matricula">Matriculas</a> .</p>
</section>