<div class="modal fade" id="inserirMatricula" tabindex="-1" role="diálogo" aria-labelledby="Janela para inserir matricula" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Editar matricula</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="?page=matricula&method=insert" method="POST">
                    <div class="form-group">
                        <label class="col-form-label" for="studentNameInput">Aluno:</label>
                        <select class="custom-select" name="studentNameInput" id="studentNameInput">
                            <option value="#" aria-selected="true" disabled selected>Escolher aluno</option>
                            {% for aluno in alunos %}
                                <option value="{{aluno.id_aluno}}">{{aluno.nome_aluno}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="courseNameInput">Curso:</label>
                        <select class="custom-select" name="courseNameInput" id="courseNameInput">
                            <option value="#" aria-selected="true" disabled selected>Escolher curso</option>
                            {% for curso in cursos %}
                                <option value="{{curso.id_curso}}">{{curso.nome_curso}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary col-12" value="Inserir">
                    </input>
                </form>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-primary inserirBtn" type="button" data-target="#inserirMatricula" data-toggle="modal">
    Inserir matrícula
</button>
<table class="table table-striped table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Aluno
            </th>
            <th scope="col">
                Curso
            </th>
            <th scope="col">
                Editar
            </th>
            <th scope="col">
                Deletar
            </th>
        </tr>
    </thead>
    <tbody>
        {% for matricula in matriculas %}
            <tr>
                <th scope="row">
                    {{matricula.id_matricula}}
                </th>
                <td>
                    {{matricula.nome_aluno | raw | convert_encoding('UTF-8', 'ISO-8859-1')}}
                </td>
                <td>
                    {{matricula.nome_curso}}
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarMatricula" data-registration="{{matricula.id_matricula}}" data-student="{{matricula.id_aluno}}" data-course="{{matricula.id_curso}}">
                        Editar
                    </button>
                </td>
                <td>
                    <a href="?page=matricula&delete={{matricula.id_matricula}}" class="btn btn-primary" role="button">
                        Deletar
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="editarMatricula" tabindex="-1" role="diálogo" aria-labelledby="Janela para editar matricula" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Editar matricula</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="?page=matricula&method=alter" method="POST">
                    <input class="form-control" type="text" hidden name="idInput" id="idInput">
                    <div class="form-group">
                        <label class="col-form-label" for="studentNameInput">Aluno:</label>
                        <select class="custom-select" name="studentNameInput" id="studentNameInput">
                            {% for aluno in alunos %}
                                <option value="{{aluno.id_aluno}}">{{aluno.nome_aluno}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="courseNameInput">Curso:</label>
                        <select class="custom-select" name="courseNameInput" id="courseNameInput">
                            {% for curso in cursos %}
                                <option value="{{curso.id_curso}}">{{curso.nome_curso}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Editar">
                    </input>
                </form>
            </div>
        </div>
    </div>
</div>